<!-- Edit existing post created by logged user -->
<div class="text-left">
  <h2>Edit Post</h2>
  <h3>{{title}} Posted By {{user.username}} on {{format_date date_created}}</h3>
  <h3>{{content}}</h3>
  <p>
    <button class="btn btn-primary">Update Post</button>
  </p>
    <p>
    <button class="btn btn-primary">Delete</button>
  </p>
</div>
