<div class="row">
  <div class="col-md-12">
    <h2>Your Dashboard</h2>
  </div>

  <div class="new-post-form col-md-12" style="display: none" id="new-post-form">
    <h3>Create New Post</h3>
    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Title</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-content">Content</label>
        <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if blogs.length}}
  <div class="col-md-12 blog-list">
    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-12">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}} {{format_date blog.date_created}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} 
</div>


<div class="new-post col-md-12 text-center">
  <button class="btn btn-primary">New Post</button>
</div>


<script src="./js/dashboard.js"></script>