:root {
  --primary: #11425a;
  --secondary: #a5aeab;
  --tertiary: #a4dcf6;
  --light: #e3e4e3;
  --dark: #002a3f;
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--tertiary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header, .blog:not(:last-child) {
  padding: 50px 60px 50px 80px;
  text-align:left;
  background: var(--primary);
  color: var(--light);
  border-bottom: 1px solid #ccc;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 50px;
  text-decoration: none;
  text-align:left;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

